[submodule "third_party/genesis"]
	path = third_party/genesis
	url = https://github.com/Ikemura-kei/Genesis_fork.git
[submodule "third_party/DP3"]
	path = third_party/DP3
	url = https://github.com/Ikemura-kei/DP3_fork.git
[submodule "third_party/hil-serl"]
	path = third_party/hil-serl
	url = https://github.com/rail-berkeley/hil-serl.git
[submodule "third_party/dppo"]
	path = third_party/dppo
	url = https://github.com/Ikemura-kei/DPPO_fork.git
	branch = gentle_manip
